<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static '/static/weather/style.css' %}" />
	<script type='text/javascript' src="{% static '/static/weather/jquery.js' %}"></script>
	<script type='text/javascript' src="{% static '/static/weather/style.js' %}"></script>
    <title>foo</title>
</head>
<body>
<img src="" alt="foo" />
<div class="jumbotron">
  <h1>Server error!</h1>
  <p>Error display the requested site. Try again later!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Back to home view...</a></p>
</div>
</body>
</html>