{% extends "base.html" %}

{% block title %}KarniPi - Wartungsmodus{% endblock %}

{% block heading %}Wartungsmodus{% endblock %}

{% block topnav %}
{% endblock %}

{% block content %}

<style type="text/css">
    span.label
    {
        display:block;
        font-size: 1em;
        font-weight:normal;
        float:left;
        clear:both;
    }

    .onoffswitch {
        position: relative; width: 30px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        height: 10px; padding: 0; line-height: 10px;
        border: 0px solid #FFFFFF; border-radius: 20px;
        background-color: #9E9E9E;
    }
    .onoffswitch-label:before {
        content: "";
        display: block; width: 20px; margin: -5px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 16px;
        border-radius: 20px;
        box-shadow: 0 6px 12px 0px #757575;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label {
        background-color: #5CB85C;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
       border-color: #5CB85C;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
        right: 0px;
        background-color: #5CB85C;
        box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
    }

    .maintenance_off
    {
        color: white;
        background-color:red;
    }
    .maintenance_on
    {
        color: white;
        background-color:#71B238;
    }
</style>

<form>
    {% csrf_token %}
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Gerätestatus</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td style="vertical-align:middle;">Wartungsmodus</td>
                            <td style="vertical-align:middle;">
                                {% if maintenance_mode == False %}
                                <input class="btn btn-default navbar-btn maintenance_on"
                                       name="maintenance_mode"
                                       type="submit"
                                       formmethod="post"
                                       formaction="{% url 'maintenance:index' %}"
                                       value="an"/>
                                {% else %}
                                <input class="btn btn-default navbar-btn maintenance_off"
                                       name="maintenance_mode"
                                       type="submit"
                                       formmethod="post"
                                       formaction="{% url 'maintenance:index' %}"
                                       value="aus"/>
                                {% endif %}
                            </td>
                        </tr>
                        {% for entry in status_overview %}
                        <tr>
                            <td>{{ entry.title }}</td>
                            <td>
                                {% if maintenance_mode == 1 %}
                                <div class="onoffswitch">
                                    {% if entry.state == False %}
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{entry.title}}_switch" onclick="this.form.submit();">
                                    {% else %}
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{entry.title}}_switch" onclick="this.form.submit();" checked="checked">
                                    {% endif %}
                                    <label class="onoffswitch-label" for="{{entry.title}}_switch"></label>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <textarea rows="20"  style="width:100%;font-size:12px;">
                {{log}}
            </textarea>
        </div>
    </div>
</form>
{% endblock %}
